torch==2.5.1
torchaudio==2.5.1
transformers==4.50.1
einops
gradio
inflect
WeTextProcessing
addicts
modelscope==1.22.0
simplejson 
datasets==2.18.0 
addicts
sortedcontainers
librosa
huggingface-hub
spaces