transformers>=4.30.2
datasets>=2.14.0
accelerate>=0.20.3
peft>=0.4.0
bitsandbytes>=0.40.2
sentencepiece>=0.1.99
protobuf<=3.20.3
numpy>=1.24.3
torch>=2.0.1
torchaudio>=2.0.2
ffmpeg-python>=0.2.0
tqdm>=4.65.0
